<section id="team" class="wow fadeInUp animated" style="visibility: visible;">
  <div class="member" *ngIf="(user | async) as u">
    <div class="pic"><img src="assets/img/team-5.png" alt=""></div>
    <div class="details">
      <h4 i18n="@@CardProfileComponent-Title">{{u.name}} {{u.lastname}}'s profile</h4>
      <span>{{u.username}}</span>
      <span>{{u.email}}</span>
<!--      <div class="social">-->
<!--        <a href=""><i class="fa fa-twitter"></i></a>-->
<!--        <a href=""><i class="fa fa-facebook"></i></a>-->
<!--        <a href=""><i class="fa fa-google-plus"></i></a>-->
<!--        <a href=""><i class="fa fa-linkedin"></i></a>-->
<!--      </div>-->
    </div>
  </div>
</section>
