<section id="contact" class="wow fadeInUp animated" style="visibility: visible;">
  <div class="container">
    <div class="form">
      <form #deleteCourseForm="ngForm" (ngSubmit)="deleteGym()" class="php-email-form">
        <div class="form-group">
          <label for="region">Region</label>
          <select class="form-control" id="region" name="region" [(ngModel)]="selectedRegion" (change)="changeGyms()" >
            <option value="" disabled selected>--- Select Region ----</option>
            <option *ngFor="let r of regions" [value]="r.name">{{r.name}}</option>
          </select>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="gym">Gym</label>
            <select class="form-control" [(ngModel)]="selectedGymId" #selGym="ngModel" id="gym" name="gym" (change)="changeCourses()" required>
              <option value="" disabled selected>--- Select Gym ----</option>
              <option *ngFor="let g of gyms" [value]="g.id">{{g.name}}</option>
            </select>
            <div class="validate" *ngIf="selGym.dirty && (selGym.pristine || !selGym.valid)">Invalid field</div>
          </div>
          <div class="form-group col-md-6">
            <label for="course">Course</label>
            <select class="form-control" [(ngModel)]="selectedCourseId" #selCourse="ngModel" id="course" name="course" required>
              <option value="" disabled selected>--- Select Course ----</option>
              <option *ngFor="let c of courses" [value]="c.id">{{c.name}}</option>
            </select>
            <div class="validate" *ngIf="selCourse.dirty && (selCourse.pristine || !selCourse.valid)">Invalid field</div>
          </div>
        </div>

        <div class="text-center"><button type="submit" [disabled]="!deleteCourseForm.valid" [ngClass]="{'btn-disabled' : !deleteCourseForm.valid}">Add</button></div>
      </form>
    </div>

  </div>
</section>
