<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio wow fadeInUp">
  <div class="container">

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item " *ngFor="let g of gyms | async">
        <img src="./assets/img/gyms/gym{{utilityService.selectGymImgById(g.id)}}.png" class="img-fluid" alt="{{g.name}}" [routerLink]="[g.id,'courses']">
        <div class="portfolio-info" [ngClass]="{'portfolio-info-mobile': utilityService.getFlagMobile()}">
          <div [routerLink]="[g.id,'courses']">
            <h4>{{g.name}}</h4>
            <p>{{g.address}}, {{g.province}}, {{g.region}}</p>
          </div>
          <!--          <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>-->
          <!--          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
          <a [routerLink]="[g.id,'feedbacks','add']" class="preview-link" title="More Details"><i class='bx bx-star' ></i></a>
          <div *ngIf="favorites | async; let favs">
            <a *ngIf="!isFav(favs, g)" (click)="addFav(g)" class="details-link" title="More Details"><i class="bx bx-heart"></i></a>
            <a *ngIf="isFav(favs, g)" (click)="delFav(g)" class="details-link" title="More Details"><i class="bx bxs-heart"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->
