<app-title i18n-title="@@AdminHomePage-Title" title="Administration" i18n-subtitle="@@AdminHomePage-Subtitle" subtitle="Area reserved for gym managers, here you can add your gyms and courses associated with them " hasLogoutButton="true"></app-title>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleAddGym" title="Add Gym"></app-title>
      <app-add-gym-card></app-add-gym-card>
    </div>
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleAddCourse" title="Add Course"></app-title>
      <app-add-course-card></app-add-course-card>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleUpdateGym" title="Update Gym"></app-title>
      <app-update-gym-form></app-update-gym-form>
    </div>
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleUpdateCourse" title="Update Course"></app-title>
      <app-update-course-form></app-update-course-form>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleDeleteGym" title="Delete Gym"></app-title>
      <app-delete-gym-form></app-delete-gym-form>
    </div>
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleDeleteCourse" title="Delete Course"></app-title>
      <app-delete-course-form></app-delete-course-form>
    </div>
  </div>
</div>
