<app-title i18n-title="@@AdminHomePage-Title" title="Administration" i18n-subtitle="@@AdminHomePage-Subtitle" subtitle="Area reserved for gym managers, here you can add your gyms and courses associated with them " hasLogoutButton="true"></app-title>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleAddGym" title="Add Gym"></app-title>
      <app-add-gym-card></app-add-gym-card>
    </div>
    <div class="col-md-6">
      <app-title i18n-title="@@AdminHomePage-TitleAddCourse" title="Add Course"></app-title>
      <app-add-course-card></app-add-course-card>
    </div>
  </div>
</div>
