<!-- ======= Contact Section ======= -->
<section id="registration" class="wow fadeInUp">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5">

        <div class="card">
          <div class="card-body">

            <form (ngSubmit)="save()" [formGroup]="registrationForm" class="form">
              <div class="form-group">
                <label for="name" i18n="@@Form-LabelName">Name</label>
                <input class="form-control" formControlName="name" id="name" type="text">
                <div *ngIf="registrationForm.get('name').dirty && !registrationForm.get('name').valid" class="alert alert-danger" i18n="@@Form-ErrorName">
                  <p>Invalid field</p>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" i18n="@@Form-LabelLastname">Lastname</label>
                <input class="form-control" formControlName="lastname" id="lastname" type="text">
                <div *ngIf="registrationForm.get('lastname').dirty && !registrationForm.get('lastname').valid" class="alert alert-danger" i18n="@@Form-ErrorLastname">
                  <p>Invalid field</p>
                </div>
              </div>
              <div class="form-group">
                <label for="email" i18n="@@Form-LabelEmail">Email</label>
                <input class="form-control" formControlName="email" id="email" type="email">
                <div *ngIf="registrationForm.get('email').dirty && !registrationForm.get('email').valid" class="alert alert-danger" i18n="@@Form-ErrorEmail">
                  <p>Invalid field</p>
                </div>
              </div>
              <div class="form-group">
                <label for="username" i18n="@@Form-LabelUsername">Username</label>
                <input class="form-control" formControlName="username" id="username" type="text">
                <div *ngIf="registrationForm.get('username').dirty && !registrationForm.get('username').valid" class="alert alert-danger" i18n="@@Form-ErrorUsername">
                  <p>Invalid field</p>
                </div>
              </div>
              <div class="form-group">
                <label for="password" i18n="@@Form-LabelPassword">Password</label>
                <input class="form-control" formControlName="password" id="password" type="password">
                <div *ngIf="registrationForm.get('password').dirty && !registrationForm.get('password').valid" class="alert alert-danger" i18n="@@Form-ErrorPassword">
                  <p>Length between 5 and 10 characters</p>
                </div>
              </div>
              <button [disabled]="!registrationForm.valid" class="btn btn-success" i18n="@@ButtonRegister">Register</button>
            </form>

          </div>
        </div>

      </div>
    </div>

  </div>
</section><!-- End Contact Section -->
