<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container clearfix">
    <div class="contact-info float-left">
      <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@gymportal.com</a>
      <i class="fa fa-phone"></i> +39 0863 27874
    </div>
    <div class="social-links float-right">
      <a class="twitter"><i class="fa fa-twitter"></i></a>  <!--href="#"-->
      <a class="facebook"><i class="fa fa-facebook"></i></a>
      <a class="instagram"><i class="fa fa-instagram"></i></a>
      <a class="google-plus"><i class="fa fa-google-plus"></i></a>
      <a class="linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</section><!-- End Top Bar-->

<!-- ======= Header ======= -->
<header id="header">

  <button type="button" id="mobile-nav-toggle" (click)="handleMenu()">
    <i class="fa" [ngClass]="{'fa-bars': !flagMenu, 'fa-times': flagMenu}"></i>
  </button>

  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a routerLink="">Gym<span>portal</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
    </div>

    <nav [ngClass]="{'nav-menu-container': !utilityService.getFlagMobile(), 'mobile-nav': utilityService.getFlagMobile()}">
      <ul [ngClass]="{'nav-menu': !utilityService.getFlagMobile()}"
          style="touch-action: pan-y;">
        <!--          [ngStyle]="{'touch-action': globalService.getFlagMobile() ? 'pan-y;' : '' }">-->
        <li><a *ngIf="logged | async" routerLink="">Home</a></li>
        <li><a *ngIf="!(logged | async)" routerLink="registration">Registration</a></li>
        <li><a *ngIf="!(logged | async)" routerLink="login">Login</a></li>
        <li><a *ngIf="logged | async" routerLink="profile">Profile</a></li>
        <li><a *ngIf="logged | async" (click)="logout()" type="button" class="btn btn-danger">Logout</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->

    <div id="mobile-body-overly" [ngStyle]="{'display': (flagMenu && utilityService.getFlagMobile()) ? 'block' : 'none' }" ></div>

  </div>
</header><!-- End Header -->
