<!-- ======= Testimonials Section ======= -->
<section id="testimonials" *ngIf="(feedbacks | async).length">
  <div class="container">
    <div class="row">

      <div class="testimonial-item col-md-3" *ngFor="let f of feedbacks | async" >
        <img src="./assets/img/teams/team-{{utilityService.selectUserImgById(f.user)}}.jpg" class="testimonial-img" alt="">
        <h3>{{f.userName}} {{f.userLastname}}</h3>
        <h4 i18n="@@FeedbacksComponent-Rating">Rating: {{f.rating}}</h4>
        <p>
          <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
          {{f.feed}}
          <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
        </p>

        <a *ngIf="f.id === idPersonalFeedback" [routerLink]="['..','feedbacks', f.id]" class="edit-link" i18n-title="@@LinkButton-EditReview" title="Edit Review"><i class='bx bxs-edit'></i></a>
        <a *ngIf="f.id === idPersonalFeedback" (click)="delete(f)" class="delete-link" i18n-title="@@LinkButton-DeleteReview" title="Delete Review"><i class='bx bxs-trash'></i></a>
      </div>

    </div>
  </div>
</section><!-- End Testimonials Section -->


<section class="portfolio-details" *ngIf="!(feedbacks | async).length">
  <div class="container">
    <div class="portfolio-description">
      <h2 i18n="@@FeedbacksComponent-NoFeedbacksGymTitle">There are no reviews for this gym</h2>
      <p i18n="@@FeedbacksComponent-NoFeedbacksGymSubtitle">What are you waiting for?! You can be the first!!!</p>
    </div>
  </div>
</section>
