<div class="container">
  <div class="row">
    <app-card-profile class="col-md-6"></app-card-profile>
    <app-update-profile class="col-md-6"></app-update-profile>
  </div>
</div>
<h4>Le tue recensioni palestra</h4>
<app-feedback-gym-profile></app-feedback-gym-profile>
<h4>Le tue recensioni corsi</h4>
<app-feedback-course-profile></app-feedback-course-profile>
<h4>Le tue palestre preferite</h4>
<app-favorite-gym-card></app-favorite-gym-card>
<h4>I tuoi corsi preferiti</h4>
<app-favorite-course-card></app-favorite-course-card>
