<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-title title='Profilo'></app-title>
      <app-card-profile></app-card-profile>
    </div>
    <div class="col-md-6">
      <app-title title='Aggiorna'></app-title>
      <app-update-profile></app-update-profile>
    </div>
  </div>
</div>

<app-title title='Le tue palestre preferite'></app-title>
<app-favorite-gym-card></app-favorite-gym-card>

<app-title title='I tuoi corsi preferiti'></app-title>
<app-favorite-course-card></app-favorite-course-card>

<app-title title='Le tue recensioni palestra'></app-title>
<app-feedback-gym-profile></app-feedback-gym-profile>

<app-title title='Le tue recensioni corsi'></app-title>
<app-feedback-course-profile></app-feedback-course-profile>
