<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio wow fadeInUp">
  <div class="container">

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item " *ngFor="let g of favorites | async">
        <img src="./assets/img/gyms/gym{{utilityService.selectGymImgById(g.id)}}.png" class="img-fluid" alt="{{g.name}}">
        <div class="portfolio-info" [ngClass]="{'portfolio-info-mobile': utilityService.getFlagMobile()}">
          <h4>{{g.name}}</h4>
          <p>{{g.address}}, {{g.province}}, {{g.region}}</p>
          <a (click)="delete(g)" class="details-link" i18n-title="@@LinkButton-RemoveFavorite" title="Remove Favorite"><i class="bx bxs-heart"></i></a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->
